*env*
data
logs
secrets
*samples*
sighthound_email_patch/_settings.py*
.vscode
*__pycache__*
object_detection/data*
object_detection/env*
object_detection/logs*
object_detection/models*
*.pt

image_recognition/models*

*.avi
*.mp4

.pytest_cache*

# keep config files
!.vscode/launch.json
